h1 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 20px;
}


.card {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 170px;
    border-radius: 20px;
    margin: 20px auto 20px;
    -webkit-box-shadow: 10px 10px 26px -7px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 26px -7px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 26px -7px rgba(176, 176, 176, 1);
}

.cardImage>img {
    height: 170px;
    width: 130px;
    border-radius: 20px;
}

.cardTitle {
    margin-top: 40px;
    margin-left: 18px;
    margin-right: 18px;
}

/* .cardTitle > p{
    
} */
